{# {% extends 'base.html.twig' %}

{% block title %}Hello SubjectController!
{% endblock %}

{% block body %}
	<h1>Subject Management</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary">Save</button>
	{{ form_end(form) }}

	{# You can add a list of existing subjects here if you want
{% endblock %} #}


{# {% extends 'base.html.twig' %}

{% block title %}Student List{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Student List</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Student Number</th>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Section</th>
                    <th>QR</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.studentNumber }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.course }}</td>
                        <td>{{ student.section }}</td>
                        <td>
                            <img src="{{ path('app_student_qr', {id: student.id}) }}" alt="QR Code" width="100">
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No students found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} #}

{# 
{% extends 'base.html.twig' %}

{% block body %}

    <!-- Begin page -->
    <div id="layout-wrapper">

        {{ include('partials/menu.html.twig') }}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    {{ include('partials/page-title.html.twig', {pagetitle: 'Contacts', title: 'User List'}) }}

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <a href="javascript:void(0);" class="btn btn-success waves-effect waves-light">
                                                    <i class="mdi mdi-plus me-2"></i> Add New
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end row -->
                                    <div class="table-responsive mb-4">
                                        <table id="datatable" class="table table-centered table-nowrap mb-0">
                                            <thead>
                                              <tr>
                                                <th scope="col" style="width: 50px;">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck">
                                                        <label class="form-check-label" for="contacusercheck"></label>
                                                    </div>
                                                </th>
                                                <th scope="col">Student Number</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Course</th>
                                                <th scope="col">Section</th>
                                                <th scope="col" style="width: 200px;">QR</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            {% for student in student %}
                                                <tr>
                                                    <th scope="row">
                                                        <div class="form-check font-size-16">
                                                            <input type="checkbox" class="form-check-input" id="contacusercheck{{ loop.index }}">
                                                            <label class="form-check-label" for="contacusercheck{{ loop.index }}"></label>
                                                        </div>
                                                    </th>
                                                    <td>
                                                        <a href="" class="text-body">{{ student.studentNumber }}</a>
                                                    </td>
                                                    <td>{{ student.name }}</td>
                                                    <td>{{ student.course }}</td>
                                                    <td>{{ student.section }}</td>
                                                    <td>
                                                        <a href="{{ path('app_student_qr', { id: student.id }) }}" target="_blank" class="text-body uil-eye font-size-18">
                                                        <span class="font-size-12">View QR Code</span>
                                                        {# Uncomment to show QR code image
                                                        <img src="{{ path('app_student_qr', { id: student.id }) }}" alt="QR Code" width="100">
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}                        
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                    
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            {{ include('partials/footer.html.twig') }}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    {{ include('partials/right-sidebar.html.twig') }}

    {{ include('partials/vendor-scripts.html.twig') }}

    <!-- DataTables CSS & JS (using CDN for simplicity) -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- Initialize DataTable -->
    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                // Optional configurations:
                "pageLength": 10,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "order": [[1, "asc"]],
                // Customize search box if needed:
                "language": {
                    "search": "_INPUT_",
                    "searchPlaceholder": "Search..."
                }
            });
        });
    </script>

    <!-- App js -->
    <script src="/js/app.js"></script>

{% endblock %} #}


{% extends 'base.html.twig' %}

{% block body %}

        <!-- Begin page -->
        <div id="layout-wrapper">

            {{ include('partials/menu.html.twig') }}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        {{ include('partials/page-title.html.twig', {pagetitle: 'Class', title: 'Class List'}) }}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                {# <div class="mb-3">
                                                    <a href="{{ path('app_student_new') }}" class="btn btn-success waves-effect waves-light"><i class="mdi mdi-plus me-2"></i> Add New</a>
                                                </div> #}
                                                <button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl">Add Class</button>
                                                <!--  Extra Large modal example -->
                                                <div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-xl">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="myExtraLargeModalLabel">Add New Class</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                    {# {{ form_start(form) }}
                                                                    {{ form_widget(form) }}
                                                                    <button class="btn btn-primary">Save</button>
                                                                {{ form_end(form) }} #}

                                                                {# <div class="col-lg-6 ms-lg-auto">
                                                                <div class="mt-5 mt-lg-4">
                                                                    <h5 class="font-size-14 mb-4"><i class="mdi mdi-arrow-right text-primary me-1"></i> Horizontal form</h5>
                                                                    
                                                                    <form>
                                                                        <div class="row mb-4">
                                                                            <label for="horizontal-Fullname-input" class="col-sm-3 col-form-label">Full Name</label>
                                                                            <div class="col-sm-9">
                                                                            <input type="text" class="form-control" id="horizontal-Fullname-input" placeholder="Enter your full name">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mb-4">
                                                                            <label for="horizontal-email-input" class="col-sm-3 col-form-label">Email</label>
                                                                            <div class="col-sm-9">
                                                                                <input type="email" class="form-control" id="horizontal-email-input" placeholder="Enter your email address">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mb-4">
                                                                            <label for="horizontal-password-input" class="col-sm-3 col-form-label">Password</label>
                                                                            <div class="col-sm-9">
                                                                            <input type="password" class="form-control" id="horizontal-password-input" placeholder="Enter your password">
                                                                            </div>
                                                                        </div>
                            
                                                                        <div class="row justify-content-end">
                                                                            <div class="col-sm-9">
                                                                                <div class="form-check mb-4">
                                                                                    <input type="checkbox" class="form-check-input" id="horizontal-customCheck">
                                                                                    <label class="form-check-label" for="horizontal-customCheck">Remember me</label>
                                                                                </div>
                            
                                                                                <div class="d-flex flex-wrap gap-3">
                                                                                    <button type="submit" class="btn btn-primary waves-effect waves-light w-md">Submit</button>
                                                                                    <button type="reset" class="btn btn-outline-danger waves-effect waves-light w-md">Reset</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div> #}

                                                            <div class="col-lg-12 ms-lg-auto">
                                                                <div class="mt-5 mt-lg-4">
                                                                    {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
                                                                    
                                                                    <div class="row mb-4">
                                                                        {{ form_label(form.subjectName, 'Subject Name', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                                                        <div class="col-sm-9">
                                                                            {{ form_widget(form.subjectName, {'attr': {'class': 'form-control', 'placeholder': 'Enter Subject Name'}}) }}
                                                                            {{ form_errors(form.subjectName) }}
                                                                        </div>
                                                                    </div>

                                                                    <div class="row mb-4">
                                                                        {{ form_label(form.subjectCode, 'Subject Code', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                                                        <div class="col-sm-9">
                                                                            {{ form_widget(form.subjectCode, {'attr': {'class': 'form-control', 'placeholder': 'Enter Subject Code'}}) }}
                                                                            {{ form_errors(form.subjectCode) }}
                                                                        </div>
                                                                    </div>

                                                                    <div class="row mb-4">
                                                                        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                                                        <div class="col-sm-9">
                                                                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Enter Description'}}) }}
                                                                            {{ form_errors(form.description) }}
                                                                        </div>
                                                                    </div>

                                                                    <button class="btn btn-primary">Add Class</button>

                                                                    {{ form_end(form) }}
                                                                </div>
                                                            </div>

                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                            </div>
                
                                            <div class="col-md-6">
                                                <div class="form-inline float-md-end mb-3">
                                                    <div class="search-box ms-2">
                                                        <div class="position-relative">
                                                            <input type="text" class="form-control rounded bg-light border-0" placeholder="Search...">
                                                            <i class="mdi mdi-magnify search-icon"></i>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                
                
                                        </div>
                                        <!-- end row -->
                                        <div class="table-responsive mb-4">
                                            <table class="table table-centered table-nowrap mb-0">
                                                <thead>
                                                  <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check font-size-16">
                                                            <input type="checkbox" class="form-check-input" id="contacusercheck">
                                                            <label class="form-check-label" for="contacusercheck"></label>
                                                        </div>
                                                    </th>
                                                    <th scope="col">Subject Code</th>
                                                    <th scope="col">Subject Name</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                {% for schoolClasses in schoolClasses %}
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="form-check font-size-16">
                                                                <input type="checkbox" class="form-check-input" id="contacusercheck1">
                                                                <label class="form-check-label" for="contacusercheck1"></label>
                                                            </div>
                                                        </th>
                                                        <td>
                                                            <a href="#" class="text-body">{{ schoolClasses.subjectCode }}</a>
                                                        </td>
                                                        <td>{{ schoolClasses.subjectName }}</td>
                                                        <td>{{ schoolClasses.description }}</td>
                                                        <td>
                                                            <button 
                                                                class="btn btn-warning" 
                                                                data-bs-toggle="modal" 
                                                                data-bs-target="#editModal{{ schoolClasses.id }}">
                                                                Edit
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}                        
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Edit Modal -->
                                        {% for schoolClasses in schoolClasses %}
                                                    <div class="modal fade" id="editModal{{ schoolClasses.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ schoolClasses.id }}" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                            {% if editForms[schoolClasses.id].vars.errors|length > 0 %}
                                                                <div class="alert alert-danger">
                                                                    {{ form_errors(editForms[schoolClasses.id]) }}
                                                                </div>
                                                            {% endif %}
                                                                {{ form_start(editForms[schoolClasses.id]) }}
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="editModalLabel{{ schoolClasses.id }}">Edit Class</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                    <div class="row mb-4">
                                                                        {{ form_label(editForms[schoolClasses.id].subjectName, 'Subject Name', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                                                        <div class="col-sm-9">
                                                                            {{ form_widget(editForms[schoolClasses.id].subjectName, {'attr': {'class': 'form-control'}}) }}
                                                                            {{ form_errors(editForms[schoolClasses.id].subjectName) }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mb-4">
                                                                        {{ form_label(editForms[schoolClasses.id].subjectCode, 'Subject Code', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                                                        <div class="col-sm-9">
                                                                            {{ form_widget(editForms[schoolClasses.id].subjectCode, {'attr': {'class': 'form-control'}}) }}
                                                                            {{ form_errors(editForms[schoolClasses.id].subjectCode) }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mb-4">
                                                                        {{ form_label(editForms[schoolClasses.id].description, 'Description', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                                                        <div class="col-sm-9">
                                                                            {{ form_widget(editForms[schoolClasses.id].description, {'attr': {'class': 'form-control'}}) }}
                                                                            {{ form_errors(editForms[schoolClasses.id].description) }}
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                                    </div>
                                                                {{ form_end(editForms[schoolClasses.id]) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                        <div class="row mt-4">
                                            <div class="col-sm-6">
                                                <div>
                                                    <p class="mb-sm-0">Showing 1 to 10 of 12 entries</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="float-sm-end">
                                                    <ul class="pagination mb-sm-0 ">
                                                        <li class="page-item disabled">
                                                            <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a href="#" class="page-link">1</a>
                                                        </li>
                                                        <li class="page-item active">
                                                            <a href="#" class="page-link">2</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a href="#" class="page-link">3</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                {# {{ include('partials/footer.html.twig') }} #}
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        {{ include('partials/right-sidebar.html.twig') }}

        {{ include('partials/vendor-scripts.html.twig') }}

        <!-- App js -->
        <script src="/js/app.js"></script>

{% endblock %}